<form method='POST' action='/create'>
  <p1>Puppy Name: <input type="text" name="name"></p1>
  <p1>Puppy Breed: <input type="text" name="breed"></p1>
  <p1>Puppy Age: <input type="text" name="age"></p1>
  <input type="submit" id="Submit">
  
</form>